.footer-class{
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(2, 39, 48);
    color: rgb(255, 255, 255);
    padding: 1%;
    height: 8vh;
}

.footer-class a{
    color: #fff;
    text-decoration: none
}

.footer-class a:hover{
    color: rgb(38, 167, 241);
    transition: 300ms
}