*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.box{
    width: 30%;
}

.ageCalc{
    border: 2px solid red;
}

.feetConv{
    border: 2px solid #262626;
}

.mileConv{
    border: 2px solid blue;
}